<div id="externa">
    <div id="interna">
        <div id="carouselInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="3000">
                    <img [src]="imagem1" class="d-block w-100" alt="Imagem 1">
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img [src]="imagem2" class="d-block w-100" alt="Imagem 2">
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img [src]="imagem3" class="d-block w-100" alt="Imagem 3">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselInterval" data-bs-slide="prev">
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselInterval"
                data-bs-slide="next">
            </button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col text-center">
        <strong>{{ unidade }}</strong>
    </div>
</div>
<div class="row">
    <div class="col text-center">
        <span>{{ endereco }}</span>
    </div>
</div>
<div class="row">
    <div class="col text-center">
        <span>{{ email }}</span>
    </div>
</div>
<div class="row">
    <div class="col text-center">
        <img id="whatsappIcon" src="/assets/whatsapp-logo.png" alt="Whatsapp Logo">
        <a href="https://api.whatsapp.com/send?phone=55{{ telefone | removeSpecialChars : [' ', '(', ')', '-'] }}">{{ telefone }}</a>
    </div>
</div>